@model IEnumerable<ConferenceScheduler.Models.Session>

@{
    ViewBag.Title = "Sessions";
}

<h2>Sessions</h2>

<p>
    @if (TempData["error"] != null) { @TempData["error"].ToString(); }
</p>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Occupancy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsFull)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Occupancy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsFull)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.SessionID }) |
            @Html.ActionLink("Enroll", "Enroll", new { id=item.SessionID })
        </td>
    </tr>
}

</table>
